
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img ngSrc="/assets/logo1.svg" alt="Groundbnb" class="logo-img" height="414" width="383"/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
              aria-current="page">
                Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/listing" routerLinkActive="active">Listings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
          </li>
        </ul>
        @if (isLoggedIn) {
          <div class="user-menu">
              <span class="user-name">Welcome, {{ userName }}</span>
              <button (click)="logout()" class="btn mx-4 btn-primary shadow-sm">Logout</button>
          </div>
        } @else {
            <div class="auth-buttons d-flex gap-2">
                <button type="button" routerLink="/login" class="btn btn-primary shadow-sm">Log In</button>
                <button type="button" routerLink="/register" class="btn btn-primary shadow-sm">Register</button>
            </div>
        }
      </div>
    </div>
</nav>
