.v-hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                    url('/assets/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  color: white !important;
}

.v-hero-section .text-body-emphasis, 
.v-hero-section .lead {
  color: white !important;
}