@use "sass:map";

$my-theme-overrides: (
  "primary": #353433, 
  "enable-shadows": true,
  "border-radius": 10px
);

@use "bootstrap/scss/bootstrap" with (
  $primary: map.get($my-theme-overrides, "primary"),
  $enable-shadows: map.get($my-theme-overrides, "enable-shadows"),
  $border-radius: map.get($my-theme-overrides, "border-radius")
);

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  background-color: #f8f9fa;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.cursor-pointer {
  cursor: pointer !important;
}